.chat {
	border: 1px solid #aaa;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 80%;
	height: 70vh;
	margin-top: 30px;
	overflow-y: scroll;
	padding: 10px;
	&__message {
		margin-top: 10px;
		&_currentUser {
			display: flex;
			justify-content: flex-end;
		}
	}
	&__textfield {
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		margin-top: 10px;
	}
}
