.message{
  padding: 5px 10px;
  background: #eee;
  display: inline-block;
  max-width: 80%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  bodred: 1px solid #ccc;
  &__currentUser{
    background: #c9eaff;
  }
  &__text{
    margin-left: 50px;
  }
}
